:host {
    display: block;
    height: 100%;
    overflow: auto;
}
img[alt][src] {
  max-width: 120px !important;
  max-height: 120px !important;
  width: 120px !important;
  height: 120px !important;
  object-fit: contain !important;
}